.body{
    color: #ddbb81;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.headings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
    background: linear-gradient(to right,#000000, #c89116)
}

.welcome{
    text-align: center;
    border-style: dotted;
    
}

.bigsection{
    display: flex;
    justify-content: center;
    gap: 400px;
}

.sectionA{
    border-style: solid;
    text-align: center;
    padding: 30px;
}

.sectionB{
    border-style: solid;
    text-align: center;
    padding: 30px;
    
}

.contactussection{
    text-align: center;
    border-style: solid;
}

.navigation{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
            }
